$orange:      #FFAE39;
$blue:        #1F2F5F;
$pink:        #EF4034;
$green:       #23A98C;

$background:  #F5F6F7;
$light-gray:  #E0E3E6;
$medium-gray: #95989A;
$darker-gray: #65686A;
$dark-gray:   #444749;
